@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

tr:nth-child(even) {
    background-color: rgb(122, 110, 110);
}

.grid-lock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.veggie-tacos {
    color: darkolivegreen
}

footer {
    position: absolute;
    font-size: large;
    bottom: 0;
    left: 0;
    padding: 24px;
    width: 100%;
    /* padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px; */
    background-color: aquamarine;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rosybrown;
}

a:hover {
    color: lightsalmon
}

a {
    text-decoration: none;
}
